.newsList{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width : 350px;
}

.title{
    text-align: center;
    text-decoration: solid;
    font-size: 1.15rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(61, 59, 59);
}

.description{
    position: relative;
    left: 5%;
    width: 90%;
    text-align: justify;
    margin-bottom: 10px;
    color: gray;
    text-decoration: none;
}

.news:link  { text-decoration: none; }
.news:visited  { text-decoration: none; }
.news:hover {
  text-decoration: none;
  transform: scale(1.04); 
}
.news:active { text-decoration: none; }
