.verticalSlider{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 360px;
    border: 1px solid black;

    background-color: #EDEDED;
}

.UpBtn , .DownBtn{
    font-size: 1.7rem;
    color: rgb(92, 82, 82);
    margin-bottom: 10px;
    cursor: pointer;
}

